
body {
    font-size: 100%;
}

@font-face {
    font-family: 'Design Osaur Italic';
    src: url('fonts/designosaur-italic-webfont.eot');
    src: url('fonts/designosaur-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/designosaur-italic-webfont.woff') format('woff'),
         url('fonts/designosaur-italic-webfont.ttf') format('truetype'),
         url('fonts/fonts/designosaur-italic-webfont.svg#designosauritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Design Osaur Regular';
    src: url('fonts/designosaur-regular-webfont.eot');
    src: url('fonts/designosaur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/designosaur-regular-webfont.woff') format('woff'),
         url('fonts/designosaur-regular-webfont.ttf') format('truetype'),
         url('fonts/designosaur-regular-webfont.svg#designosaurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}